body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #F3FFF3;
}

header {
	text-align: center;
}

ul
{
	margin-left: 10px;
	padding-left: 5px;
}

a
{
	text-decoration:none
}

#navigationBar  {
	background-color: #404080;
}
#navigationBar  a {
	color: white;
}

#unmaintained {
	text-align: center;
	background-color: #FDD;
	border-color: #F66;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 8px; 
	width: 40%;
	margin-left: auto; 
	margin-right: auto; 
}

#footerSeparator {
	width: 92%;
	color: black;
	background-color: black;
	height: 2px;
	border: 0;
}

span.author {
	cursor: pointer;
}

span.linksubtitle {
	font-style: oblique
}

span.modifierkey {
	background-color: #FFF;
	border-style: solid;
	border-width: 1px 0px 2px 1px;
	padding: 0px 1px;
	font-family: monospace;
}

span.key {
	background-color: #FFF;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	padding: 0px 1px;
	font-family: monospace;
}

hr.line {
	width: 70%;
	color: black;
	background-color: black;
	height: 1px;
	border: 0;
}

code {
	background-color: #F1F1F1;
}

.codemenu {
	background-color: #F3F3F3;
	font-family: monospace;
}

.file {
	background-color: #F1F1F1;
	border-color: #555;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 8px; 
	padding: 1px 1px;
}

.textblock {
	background-color: #C2D69B;
	border-color: #090;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 8px; 
	padding: 1px 1px;
}

.table {
	width: auto;
	border: 2px solid black;
	border-collapse: collapse
}

.table tr td {
	padding: 5px 5px;
	border: 1px solid grey;
}

.inlinedimage {
	vertical-align: bottom;
	display: inline-block;
	padding: 0px 1px 2px 1px;
}

.personPopup {
	background-color: #AA0000;
	position:absolute; 
}